header {
    display: flex;
    height: 250px;
    font-family: 'Playfair Display', serif;
    background: #FFFFFF;
}

#logo {
    position: left;
    height: 200px;
}

#callout {
    justify-content: center;
    align-items: center;
    color: gold;
}

nav {
    height: 50px;
    background: #0F2747;
    font-family: 'Inter', sans-serif;
    text-align: center;
}